/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family: 'Fredoka', sans-serif;
}

/* MAIN */

/* main title */
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto; /*andava bene anche margin: 0 auto;   */
    padding: 2rem;
}

.main-title{
    font-size: 2rem;
    color: #E53170;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5em;
    
}

/* paragraph */

.introduction{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}

/* gallery team */

.row{
    margin: 1.5rem 0;
    
}


.col:nth-of-type(3n+3){
    margin-right: 0;            /* to delete margin rx&sx in the gallery*/
}

.col:nth-of-type(3n+1){
    margin-left: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 

.col{
    background-color: #0F0E17;
    color: white;
    margin: 20px 20px;
    width: calc(100% / 3 - 27px);  /* importanti gli spazi tra operatore e numeri */
    float: left;                   
    box-shadow: 5px 5px 5px #cfc6c6;

} 

.col img{
    width: 90px;  /* in percentuale sarebbe più responsive  */
    vertical-align: bottom; /* così l'img riempie tutto il div  */
}

.col .infos{
    display: inline-block;
    vertical-align: top;
}

.infos .name{
    font-size: 1.1rem;
    font-weight: 600;
    padding: .6em 0.5em 0.2em;
}

.infos .role{
    font-size: 1rem;
    font-weight: 400;
    padding: 0.2em 0.5em;
}

.infos .mail{
    font-size: 1rem;
    font-weight: 400;
    color: #00CCF2;
    padding: 0.2em 0.5em;
}
